/* CSS mobile */

body {
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    font-weight: 300;
    }



/* Text */

h1 {
    margin: 0 0 1em 0;
    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
}

h2 {
    margin: 0 0 .5em 0;
    font-size: 1.2em;
    font-weight: 700;
    line-height: 1.1em;
    text-align: center;
}

h3 {
    margin: 0 0 .5em 0;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
}

h4 {
    margin: 0 0 1.5em 0;
    font-size: .75em;
    font-weight: 700;
}

p {
    margin: 0 0 1em 0;
}

a {
    color: #B22222;
}

/* Header */

header {
    background: red;
    color: #000000;
    padding: 1em 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
}

header::after{
    content: '';
    clear: both;
    display: block;
}


nav {
    top: 100%;
    right: 0;
    position: absolute;
    background: #000000;
    height: 0;
    overflow: hidden;
}

nav-open {
    height: auto;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li {
    border-bottom: 1px solid #ffffff;
}

nav li:last-child {
    border-bottom: none;
}

nav a {
    color: #ffffff;
    display: block;
    padding: .5em 6em;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    
}

nav a:hover,
nav a:focus {
    background: #DAF7A6;
    color: #FF5733;
}

.menu-toggle {
    padding: 1em;
    position: absolute;
    top: .5em;
    right: .5em;
}

.menu-open .hamburger {
    transform: rotate(45deg);
}

.menu-open .hamburger::before {
    opacity: 0;
}

.menu-open .hamburger::after {
    transform: translateY(-3px) rotate(-90deg);
}
.hamburger,
.hamburger::before,
.hamburger::after {
    content: '';
    display: block;
    background: #000000;
    height: 3px;
    width: 1.75em;
    border-radius: 3px;
}

.hamburger::before {
    transform: translateY(-6px);
}

.hamburger::after {
    transform: translateY(3px);
}




/* article */

article {
    
    
}

/* section-A */

section {
    background-color: black;
    position: relative;
}

p {
    color: dimgray;
    text-align: center;
}

aside {
    background-color: azure;
}

/* section-B */

/* Navigation */


/* Footer*/

footer {
    font-size: 1em;
    margin: 2px;
    background-color: red;
    color: white;
    text-align: center;
}


/* Tablet */
@media (min-width:700px) {
    body {
        margin: 0;
        font-size: 18px;
    }
    
    section {
   position: inherit;
   border-bottom: 5px #ffffff;
}
    
    .menu-toggle {
        display: none;
    }
    
    header{
     float: left;
     padding: 1em;
}
    
    nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
    }
    
    nav li {
        display: inline-block;
        border: none;
        
    }
    
    nav a {
        padding: 1.5em;
        color: #000000;
    }
    
   nav a:hover,
   nav a:focus {
        background: transparent;
    }
    
    footer {
    font-size: 1em;
    margin: -5px;
    background-color: red;
    color: white;
    text-align: center;
}
}

/* Desktop */
@media (min-width:700px) {
    body {
    font-size: 20px;
    font-weight: 200;
    margin: 0;
    }
    
    .menu-toggle {
        display: none;
    }
    
   header {
     float: left;
     padding: 1em;
}
    
  nav {
        height: auto;
        position: relative;
        background: transparent;
        float: right;
        margin-right: 10px;
    }
    
    nav li {
        display: inline-block;
        border: none;
        
    }
    
    nav a {
        padding: 1.5em;
        color: #000000;
    }
    
    nav a:hover,
    nav a:focus {
        background: transparent;
    }
    
    p {
       margin: 10px;
    }
    
    footer {
    font-size: 1em;
    margin: -5px;
    background-color: red;
    color: white;
    text-align: center;
}
}




